---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="Rayhan Noufal Arayilakath - Fullstack Software Engineer"
	description="Fullstack Software Engineer based in the United States. I have 3+ years of experience with software engineering at companies like Replit."
	ogtitle="RayhanADev - Fullstack Software Engineer"
	ogdescription="Trust and Safety Intern at Replit. Formerly freelancing with Deel and contributing to open source."
	expose={true}
>
	<main
		class="h-webkitscreen my-0 flex h-screen w-full max-w-xs flex-col flex-nowrap items-center justify-start gap-4 rounded py-8 px-8 md:m-auto md:h-80 md:max-h-80 md:max-w-lg md:items-start"
	>
		<h1 class="mt-auto w-full text-4xl italic">
			@RayhanADev
		</h1>
		<p class="mt-1 mb-2 text-foreground-dimmest font-thin w-full">
			Fullstack Software Engineer.
		</p>
		<p class="mb-auto font-thin w-full">
			Website currently under construction. Please check back on
			August 31st, 2023.
		</p>
	</main>
</Layout>
